# Compare IFO13350 (NBRC 13350) different annotation
* Genbank 20161007
* RefSeq 20170309

In [1]:
from Bio import SeqIO

In [2]:
refseq = SeqIO.read('/Users/durand.dc/Desktop/IFO13350/RefSeqAssembly/GCF_000010605.1_ASM1060v1_genomic.gbff', 'genbank')
genbank = SeqIO.read('/Users/durand.dc/Desktop/IFO13350/GenBankAssembly/GCA_000010605.1_ASM1060v1_genomic.gbff', 'genbank')

Make some general comparisons  
GCF = RefSeq  
GCA = GenBank

In [3]:
GCFfeats = len(refseq.features)
GCAfeats = len(genbank.features)
print(f'Features:\n\tGCF: {GCFfeats}\n\tGCA: {GCAfeats}')

GCFCDS = sum(1 for feat in refseq.features  if feat.type == 'CDS')
GCACDS = sum(1 for feat in genbank.features if feat.type == 'CDS')
print(f'CDS:\n\tGCF: {GCFCDS}\n\tGCA: {GCACDS}')

GCFgenes = sum(1 for feat in refseq.features  if feat.type == 'gene')
GCAgenes = sum(1 for feat in genbank.features if feat.type == 'gene')
print(f'Genes:\n\tGCF: {GCFgenes}\n\tGCA: {GCAgenes}')

Features:
	GCF: 14505
	GCA: 14449
CDS:
	GCF: 7154
	GCA: 7138
Genes:
	GCF: 7241
	GCA: 7224

Make data tables for storing necessary data:  
Compare genes only, should be enough info.  
* location  
* locus_tag  
* old_locus_tag  

Coordinate using old_locus_tag

In [4]:
print(genbank.features[1])

type: gene
location: [907:2791](+)
qualifiers:
    Key: locus_tag, Value: ['SGR_1t']

Some filters to check data integrity, eg. Does all 'gene' have 'locus_tag'?

In [5]:
GCFGeneList = list(feat for feat in refseq.features if feat.type == 'gene')
print(sum(1 for feat in GCFGeneList if 'locus_tag' not in feat.qualifiers))
print(sum(1 for feat in GCFGeneList if 'old_locus_tag' not in feat.qualifiers))

0
322

In [6]:
GCAGeneList = list(feat for feat in genbank.features if feat.type == 'gene')
print(sum(1 for feat in GCAGeneList if 'locus_tag' not in feat.qualifiers))

0

In [7]:
oldLocusTagInGCA = set(feat.qualifiers['locus_tag'][0] for feat in GCAGeneList)
oldLocusTagInGCF = set(feat.qualifiers['old_locus_tag'][0] for feat in GCFGeneList if 'old_locus_tag' in feat.qualifiers)
print(len(oldLocusTagInGCA.difference(oldLocusTagInGCF)))
print(len(oldLocusTagInGCF.difference(oldLocusTagInGCA)))
oldLocusTagInGCF <= oldLocusTagInGCA

305
0

True

Thus use `oldLocusTagInGCA` as new index, then add `newLocusTagInGCF` in the table

In [8]:
print(list(feat for feat in refseq.features if 'locus_tag' not in feat.qualifiers)[1])

type: regulatory
location: [290024:290151](-)
qualifiers:
    Key: bound_moiety, Value: ['adenosylcobalamin']
    Key: db_xref, Value: ['RFAM:RF00174']
    Key: inference, Value: ['COORDINATES: nucleotide motif:Rfam:12.0:RF00174', 'COORDINATES: profile:INFERNAL:1.1.1']
    Key: note, Value: ['cobalamin riboswitch; Derived by automated computational analysis using gene prediction method: cmsearch.']
    Key: regulatory_class, Value: ['riboswitch']

In [9]:
columns = ['old_locus_tag','new_locus_tag','old_start','new_start','old_end','new_end','old_strand','new_strand']

In [91]:
import pandas as pd
combined = pd.DataFrame(index = range(len(oldLocusTagInGCA)), columns = columns)
combined.head()

,old_locus_tag,new_locus_tag,old_start,new_start,old_end,new_end,old_strand,new_strand
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
for idx, feat in enumerate(GCAGeneList):
    info = [feat.qualifiers['locus_tag'][0],feat.location.start, feat.location.end, feat.location.strand]
    combined.loc[idx,['old_locus_tag','old_start','old_end','old_strand']] = info
for feat in GCFGeneList:
    if 'old_locus_tag' in feat.qualifiers:
        idx = combined.loc[combined.old_locus_tag == feat.qualifiers['old_locus_tag'][0]].index[0]
        info = [feat.qualifiers['locus_tag'][0],feat.location.start, feat.location.end, feat.location.strand]
        combined.loc[idx,['new_locus_tag','new_start','new_end','new_strand']] = info
    else:
        newRow = pd.DataFrame([feat.qualifiers['locus_tag'][0],feat.location.start, feat.location.end, feat.location.strand]).T
        newRow.columns = ['new_locus_tag','new_start','new_end','new_strand']
        combined = pd.concat([combined, newRow], ignore_index=True)

In [93]:
combined = combined[columns]

In [94]:
sortedindex = combined.loc[:,['old_start','new_start']].mean(axis = 1, skipna = True).sort_values().index

In [95]:
combined = combined.reindex(sortedindex)

In [96]:
combined = combined.reset_index(drop=True)

In [97]:
combined

,old_locus_tag,new_locus_tag,old_start,new_start,old_end,new_end,old_strand,new_strand
0,SGR_1t,SGR_RS00015,907,907,2791,2791,1,1
1,NaN,SGR_RS00020,NaN,3400,NaN,3919,NaN,1
2,SGR_2t,NaN,3400,NaN,3919,NaN,1,NaN
3,SGR_3t,SGR_RS00025,4041,4041,4353,4353,-1,-1
4,SGR_4t,SGR_RS00030,4440,4440,5283,5283,-1,-1
5,SGR_5t,SGR_RS00035,5279,5279,5813,5813,-1,-1
6,SGR_6t,SGR_RS00040,5815,5815,6055,6019,-1,-1
7,SGR_7t,SGR_RS35770,7111,7111,7642,7642,-1,-1
8,SGR_8t,SGR_RS00045,7721,<8285,14138,14138,-1,-1
9,SGR_9t,SGR_RS00050,14289,14289,17832,17832,-1,-1
10,SGR_10t,SGR_RS00055,18338,18338,19070,19070,-1,-1
11,SGR_11t,NaN,19097,NaN,19469,NaN,-1,NaN
12,NaN,SGR_RS00060,NaN,19124,NaN,19412,NaN,1
13,SGR_12t,SGR_RS00065,19499,19499,20633,20633,1,1
14,NaN,SGR_RS35775,NaN,21098,NaN,21733,NaN,1
15,SGR_13t,NaN,21131,NaN,21512,NaN,1,NaN
16,SGR_14t,NaN,21538,NaN,21733,NaN,1,NaN
17,SGR_15t,SGR_RS00080,22239,22239,23709,23709,-1,-1
18,SGR_16t,SGR_RS35780,23791,23791,24679,24655,-1,-1
19,SGR_17t,SGR_RS00095,24812,24812,25076,25076,-1,-1
20,SGR_18t,SGR_RS00100,25179,25254,26358,26358,1,1
21,SGR_19t,SGR_RS35785,26496,<26370,26952,>26860,1,1
22,SGR_20t,SGR_RS00110,26948,27023,27332,27332,1,1
23,NaN,SGR_RS35790,NaN,27279,NaN,28148,NaN,-1
24,SGR_21t,NaN,27279,NaN,27747,NaN,-1,NaN
25,SGR_22t,NaN,27743,NaN,28019,NaN,-1,NaN
26,SGR_23t,SGR_RS00120,28384,28384,29173,29173,-1,-1
27,NaN,SGR_RS35795,NaN,29183,NaN,29414,NaN,1
28,SGR_24t,SGR_RS00125,29337,29337,30087,30087,1,1
29,NaN,SGR_RS35800,NaN,30023,NaN,30430,NaN,1
...,...,...,...,...,...,...,...,...
7516,NaN,SGR_RS36865,NaN,8515499,NaN,8515906,NaN,-1
7517,SGR_7115t,SGR_RS35465,8515842,8515842,8516592,8516592,-1,-1
7518,NaN,SGR_RS36870,NaN,8516515,NaN,8516746,NaN,-1
7519,SGR_7116t,SGR_RS35470,8516756,8516756,8517545,8517545,1,1
7520,NaN,SGR_RS36875,NaN,8517781,NaN,8518650,NaN,1
7521,SGR_7117t,NaN,8517910,NaN,8518186,NaN,1,NaN
7522,SGR_7118t,NaN,8518182,NaN,8518650,NaN,1,NaN
7523,SGR_7119t,SGR_RS35480,8518597,8518597,8518981,8518906,-1,-1
7524,SGR_7120t,SGR_RS36880,8518977,<8519069,8519433,>8519559,-1,-1
7525,SGR_7121t,SGR_RS35490,8519571,8519571,8520750,8520675,-1,-1
7526,SGR_7122t,SGR_RS35495,8520853,8520853,8521117,8521117,1,1
7527,SGR_7123t,SGR_RS36885,8521250,8521274,8522138,8522138,1,1
7528,SGR_7124t,SGR_RS35505,8522220,8522220,8523690,8523690,1,1
7529,NaN,SGR_RS36890,NaN,8524196,NaN,8524831,NaN,-1
7530,SGR_7125t,NaN,8524196,NaN,8524391,NaN,-1,NaN
7531,SGR_7126t,NaN,8524417,NaN,8524798,NaN,-1,NaN
7532,SGR_7127t,SGR_RS35520,8525296,8525296,8526430,8526430,-1,-1
7533,SGR_7128t,NaN,8526460,NaN,8526832,NaN,1,NaN
7534,NaN,SGR_RS35525,NaN,8526517,NaN,8526805,NaN,-1
7535,SGR_7129t,SGR_RS35530,8526859,8526859,8527591,8527591,1,1
7536,SGR_7130t,SGR_RS35535,8528097,8528097,8531640,8531640,1,1
7537,SGR_7131t,SGR_RS35540,8531791,8531791,8538208,>8537644,1,1
7538,SGR_7132t,SGR_RS36895,8538287,8538287,8538818,8538818,1,1
7539,SGR_7133t,SGR_RS35545,8539874,8539910,8540114,8540114,1,1
7540,SGR_7134t,SGR_RS35550,8540116,8540116,8540650,8540650,1,1
7541,SGR_7135t,SGR_RS35555,8540646,8540646,8541489,8541489,1,1
7542,SGR_7136t,SGR_RS35560,8541576,8541576,8541888,8541888,1,1
7543,SGR_7137t,NaN,8542010,NaN,8542529,NaN,-1,NaN
7544,NaN,SGR_RS35565,NaN,8542010,NaN,8542529,NaN,-1
7545,SGR_7138t,SGR_RS35570,8543138,8543138,8545022,8545022,-1,-1

In [100]:
combined.to_excel('/Users/durand.dc/Documents/works/Resources/Resource_SGR/Genome/IDConversion.xlsx')